<div class="heading-page">
    <div class="container">
        <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/"><span itemprop="name">Trang chủ</span></a>
                <span itemprop="position" content="1"></span>
            </li>
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/auth/forget"><span itemprop="name">Quên mật khẩu</span></a>
                <span itemprop="position" content="2"></span>
            </li>
        </ol>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="col-sm-12">
            <div class="row mainpage-wrapper">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="card">
                                <h3 class="card-header">Khôi phục bằng tin nhắn (phí 1000đ)</h3>
                                <br>
                                <div class="card-body">
                                    <p>Dùng số điện thoại đăng ký tài khoản của bạn gửi tin nhắn: </p>

                                    <p>Khôi phục mật khẩu đăng nhập: </p>
                                    <p><strong class="text-danger">T9S MK gửi 7039</strong></p>
                                    <p>Khôi phục mật khẩu cấp 2 (MKC2): </p>
                                    <p><strong class="text-danger">T9S MKC2 gửi 7039</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>