<div id="main" class="main">
    <div class="section-breadcrumb">
    <div class="container">
       
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                            <a href="/" class="text-dark">Trang chủ</a>
                        </li>
                                                <li class="breadcrumb-item">
                            <a href="/account/profile" class="text-dark">Thông tin tài khoản</a>
                        </li>
                                                <li class="breadcrumb-item">
                            <a href="/account/change-password" class="text-dark">Đổi mật khẩu</a>
                        </li>
                                        </ol>

            </div>
        </div>
    </div>
</div>

<div class="section-gap">
    <div class="container">
        <%if(typeof message !="undefined" && message){%>
            <%-message%>
                <%}%>
            <div class="template-1_information">
    
    <div class="card rounded-sm bg-white pt-3">
        <div class="card-header bg-transparent rounded-0 border-0">
            <div class="template-1-heading">
                <h4>
                    Đổi mật khẩu
                </h4>
            </div>
        </div>
        <div class="card-body">
            <div class="information-form" id="passwordFrom">
                <form action="/account/change-password" method="POST">
                                         <div class="row align-items-center no-gutters pb-3 mb-3">
                        <div class="col-md-4">
                            <label for="passwordold" class="mb-3 mb-md-0 font-weight-bold">
                                Mật khẩu hiện tại
                            </label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group mb-0">
                                <input id="old-pwd" type="password" class="form-control" name="old-pwd" required="" placeholder="Mật khẩu hiện tại">
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center no-gutters pb-3 mb-3">
                        <div class="col-md-4">
                            <label for="passwordnew" class="mb-3 mb-md-0 font-weight-bold">
                                Mật khẩu mới
                            </label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group mb-0">
                                <input id="new-pwd" type="password" class="form-control" name="new-pwd" required="" placeholder="Mật khẩu mới">
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center no-gutters pb-3 mb-3">
                        <div class="col-md-4">
                            <label for="confirmpasswordnew" class="mb-3 mb-md-0 font-weight-bold">
                                Xác nhận mật khẩu
                            </label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group mb-0">
                                <input id="new-pwd-confirmation" type="password" class="form-control" name="new-pwd-confirmation" required="" placeholder="Xác nhận mật khẩu">
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 pt-4 border-top text-center text-md-left">
                        <button type="submit" class="btn btn-success btn-sm template-1-btn">Xác thực
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="loading-pure" style="display: none">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

    </div>
</div>
</div>