<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 my-4">
                <div class="footer-item">
                    <div class="footer-item_logo">
                        <a href="" class="d-inline-block">
                            <img src="/images/1.gif" alt="DoiTien.Me">
                        </a>
                    </div>
                    <div class="footer-item_text">
                        Hệ thống đổi tiền tự động uy tín số 1 việt nam
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 my-4">
            <div class="footer-item">
                <div class="footer-item_title">
                    Thông tin
                </div>
                                <div class="footer-item_list">
                    <ul class="list-unstyled mb-0">
                                               
                                                <li>
                            <a href="https://www.facebook.com/shinechannelsv7">Fanpage</a>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/shinechannelsv7">Facebook</a>
                        </li>

                                            </ul>
                </div>
                                </div>
        </div>
            <div class="col-md-3 col-6 my-4">
            <div class="footer-item">
                <div class="footer-item_title">
                    Đối tác
                </div>
                                <div class="footer-item_list">
                    <ul class="list-unstyled mb-0">
                                                <li>
                                                    Tất cả ngân hàng
                        </li>
                                               
                                            </ul>
                </div>
                                </div>
        </div>
        <div class="col-md-3 my-4">
        <div class="footer-item">
            <div class="footer-item_title">
                Liên hệ
            </div>
            <div class="footer-item_info">
               
                <p>
                    <i class="fas fa-envelope"></i>
                    0844457888
                </p>
                <p>
                    <i class="fas fa-envelope"></i>
                    hotro@doitien.me
                </p>

                <p class="mt-3 d-flex align-items-center justify-content-start footer-item_info__social">
                    <a href="https://www.facebook.com/thuongtrunggian/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.youtube.com/c/ShineChannel">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>



        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <a href="" class="footer-bottom_copyright"> © Vận hành bởi Admin 32 Checkscam</a>
                </div>
                <div class="col-md-6">
                    <div class="footer-dropdown d-flex align-items-center justify-content-lg-end">
                                                                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>

<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "654386334959416");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v14.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>