<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 my-4">
                <div class="footer-item">
                    <div class="footer-item_logo">
                        <a href="" class="d-inline-block">
                            <img src="/images/1.gif" alt="DoiTien.Me">
                        </a>
                    </div>
                    <div class="footer-item_text">
                        Hệ thống đổi tiền tự động
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 my-4">
            <div class="footer-item">
                <div class="footer-item_title">
                    Thông tin
                </div>
                                <div class="footer-item_list">
                    <ul class="list-unstyled mb-0">
                                               
                                                <li>
                            <a href="https://thái.dev">Thiết kế Website</a>
                        </li>
                                            </ul>
                </div>
                                </div>
        </div>
            <div class="col-md-3 col-6 my-4">
            <div class="footer-item">
                <div class="footer-item_title">
                    Đối tác
                </div>
                                <div class="footer-item_list">
                    <ul class="list-unstyled mb-0">
                                                <li>
                            <a href="https://thái.dev">Thái.Dev</a>
                        </li>
                                               
                                            </ul>
                </div>
                                </div>
        </div>
        <div class="col-md-3 my-4">
        <div class="footer-item">
            <div class="footer-item_title">
                Liên hệ
            </div>
            <div class="footer-item_info">
               
                <p>
                    <i class="fas fa-envelope"></i>
                    Contact@DoiTien.Me
                </p>

                <p class="mt-3 d-flex align-items-center justify-content-start footer-item_info__social">
                    <a href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>



        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <a href="https://thái.dev" class="footer-bottom_copyright"> © Vận hành bởi THÁI.DEV</a>
                </div>
                <div class="col-md-6">
                    <div class="footer-dropdown d-flex align-items-center justify-content-lg-end">
                                                                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>