

<div id="global-modal" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body">
                <%-setting.thongbao%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>



<script>
    $(document).ready(()=>{
        $("#global-modal").modal("show")

    })
</script>



<div id="main" class="main">

    <div class="section-gap">
        <div class="container">
            <div class="alert alert-info text-center mb-0 mt-4">
                <h2 style="font-size: 18px;">Chào mừng bạn đến với <font color="red">DOITIEN.ME</font> WEBSITE ĐỔI TIỀN
                    TỰ ĐỘNG 100% </h2>
                <p>Chăm sóc khách hàng ngay tại góc trái màn hình</p>

            </div>
        </div>
    </div>


    <div class="section-gap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="template-1-heading text-center">
                        <h4>
                            DỊCH VỤ NỔI BẬT
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row row-col-10 row-cols-lg-4">
                <div class="col-6 col-md-4">
                    <a href="https://azgd.vn/middleman/index">
                        <img src="https://azgd.vn/storage/userfiles/files/4.gif" alt="" style="width: 100%;">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a href="https://azgd.vn/middleman">
                        <img src="https://azgd.vn/storage/userfiles/files/5%20(1).gif" alt="" style="width: 100%;">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a href="https://azgd.vn/wallet/deposit/vnd">
                        <img src="https://azgd.vn/storage/userfiles/files/6.gif" alt="" style="width: 100%;">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a href="https://azgd.vn/nick-game/upload">
                        <img src="https://azgd.vn/storage/userfiles/files/7.gif" alt="" style="width: 100%;">
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>