<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="content-language" content="vi">
    <meta name="robots" content="index, follow'">
    <title>DoiTien.Me - Hệ thống đổi tiền ví, đổi thẻ cào điện thoại, đổi thẻ cào sang tiền mặt</title>
    <meta name="description"
        content="Dịch vụ đổi tiền, thesieure.com ,momo, ngân hàng, rút tiền tận nhà">
    <meta name="keywords"
        content="Dịch vụ đổi tiền, thesieure.com ,momo, ngân hàng, rút tiền tận nhà">
    <meta property="og:title"
        content="Dịch vụ đổi tiền, thesieure.com ,momo, ngân hàng, rút tiền tận nhà">
    <meta property="og:type" content="Website">
    <meta property="og:url" content="https://DoiTien.Me" />
    <meta property="og:image" content="https://DoiTien.Me/assets/images/logo.png">
    <meta property="og:description"
        content="Dịch vụ đổi tiền, thesieure.com ,momo, ngân hàng, rút tiền tận nhà">
    <meta property="og:site_name"
        content="DoiTien.Me - Dịch vụ đổi tiền, thesieure.com ,momo, ngân hàng, rút tiền tận nhà">
    <meta property="article:section"
        content="Dịch vụ đổi tiền, thesieure.com ,momo, ngân hàng, rút tiền tận nhà">
    <meta property="article:tag"
        content="Dịch vụ đổi tiền, thesieure.com ,momo, ngân hàng, rút tiền tận nhà">
    <meta name="twitter:card" content="https://DoiTien.Me/assets/images/logo.png">
    <meta name="twitter:site" content="@al">
    <meta name="twitter:title"
        content="DoiTien.Me - Dịch vụ đổi tiền, thesieure.com ,momo, ngân hàng, rút tiền tận nhà">
    <meta name="twitter:description"
        content="Dịch vụ đổi tiền, thesieure.com ,momo, ngân hàng, rút tiền tận nhà">
    <meta name="twitter:creator" content="@ahihi">
    <meta name="twitter:image:src" content="https://DoiTien.Me/assets/images/logo.png">
    <link rel="alternate" hreflang="vi-vn" href="https://DoiTien.Me">
    <link rel="canonical" href="https://DoiTien.Me">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
                "@type": "WebSite",
                    "name": "Hệ Thống Cung Cấp Thẻ Game, Thẻ Cào, Thanh Toán Cước, Nap Tiền Điện Thoại Giá Rẻ",
                        "url": "https://DoiTien.Me",
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
                "@type": "Organization",
                    "name": "Hệ Thống Cung Cấp Thẻ Game, Thẻ Cào, Thanh Toán Cước, Nap Tiền Điện Thoại Giá Rẻ",
                        "legalName" : "T9S",
                            "url": "https://DoiTien.Me",
                                "logo": "https://DoiTien.Me/assets/images/logo.png",
                                    "foundingDate": "2010",
                                        "founders": [
                                            {
                                                "@type": "Person",
                                                "name": ""
                                            }],
                                            "address": {
                "@type": "PostalAddress",
                    "streetAddress": "35/45 Tran Thai Tong, Cau Giay, Ha Noi",
                        "addressLocality": "",
                            "addressRegion": "HN",
                                "postalCode": "100000",
                                    "addressCountry": "VN"
            },
            "contactPoint": {
                "@type": "ContactPoint",
                    "contactType": "customer support",
                        "telephone": "0999999999",
                            "email": "Hotro@DoiTien.Me"
            },
            "sameAs": [
                "https://www.facebook.com/doitienme/",
                "https://www.facebook.com/doitienme/",
                "",
                "https://www.youtube.com",
            ]
        }
    </script>
    <link rel="shortcut icon"
        href="/storage/userfiles/files/%e2%80%94Pngtree%e2%80%94airdrop%20gold%20coin%20vector%20icon_7515745.png">
    <style>
        :root {
            --primary-color: #0095E6;
            --secondary-color: #0095E6;
            --color-body: #fafafa;
            --color-border: #d3d2d0;
            --color-dark: #121415;
            --color-dark-gray: #444748;
            --color-gray: #6a6868;
            --transition: .3s all ease-in-out;
        }
    </style>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&amp;display=swap">
    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/waves/waves.min.css">
    <link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/plugins/jquery.min.js"></script>

    
</head>
<body>
    <%- include('partials/header'); %>
    <div id="main" class="main">
        <%- include(page); %>
    </div>
    <%- include('partials/footer'); %>
    <script type="text/javascript" src="/plugins/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/plugins/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/plugins/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="/plugins/waves/waves.min.js"></script>
    <script type="text/javascript" src="/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
</body>

</html>