<div class="section-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/" class="text-dark">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/wallet/list" class="text-dark">Rút tiền</a>
                    </li>

                </ol>
            </div>
        </div>
    </div>
</div>
<div class="section-gap">
    <div class="container">
        <div class="row">



            <div class="col-3">
                <button onclick="window.location.href='/withdraw/tsr'" class="btn btn-primary btn-send_card waves-effect waves-light">
                    TheSieuRe
                </button>
            </div>
            <div class="col-3">
                <button onclick="window.location.href='/withdraw/momo'" class="btn btn-primary btn-send_card waves-effect waves-light">
                    Momo
                </button>
            </div>
            <div class="col-3">
                <button onclick="window.location.href='/withdraw/bank'" class="btn btn-primary btn-send_card waves-effect waves-light">
                    Ngân hàng
                </button>
            </div>
            <div class="col-3">
                <button onclick="window.location.href='/withdraw/gt1s'" class="btn btn-primary btn-send_card waves-effect waves-light">
                    GachThe1s
                </button>
            </div>

        </div>

        <br>

    

        <button onclick="window.location.href='/withdraw/home'" class="btn btn-primary btn-send_card waves-effect waves-light">
            Tận nhà
        </button>

    </div>
</div>